---
# This is the default configuration file which will be merged with file passed
# by:
#
# * --ocsci-conf file.yaml parameter.
# * --cluster-conf cluster.yaml parameter - this will be rendered under
#   ENV_DATA section
#
# Each section in this file will be available as an attribute of the
# framework.config object.
#
# ------------------------------------------------------------------------

# in this RUN section we will keep default parameters for run of OCS-CI
RUN:
  username: 'kubeadmin'
  password_location: 'auth/kubeadmin-password'
  log_dir: "/tmp"
  run_id: null  # this will be redefined in the execution
  kubeconfig_location: 'auth/kubeconfig' # relative from cluster_dir
  cli_params: {}  # this will be filled with CLI parameters data
  client_version: '4.2.0-0.nightly-2019-07-30-073644'
  bin_dir: './bin'
  google_api_secret: '~/.ocs-ci/google_api_secret.json'

# In this section we are storing all deployment related configuration but not
# the environment related data as those are defined in ENV_DATA section.
DEPLOYMENT:
  installer_version: "4.2.0-0.nightly-2019-07-30-073644"
  force_download_installer: True
  force_download_client: True

# Section for reporting configuration
REPORTING:
  email:
    address: "ocs-ci@redhat.com"
  polarion:
    project_id: "OpenShiftContainerStorage"
  # Upstream: 'US' or Downstream: 'DS', used only for reporting (Test Run Name)
  us_ds: 'US'

# This is the default information about environment. Will be overwritten with
# --cluster-conf file.yaml data you will pass to the pytest.
ENV_DATA:
  cluster_name: null  # will be changed in ocscilib plugin
  cluster_namespace: 'rook-ceph'
  platform: 'AWS'
  deployment_type: 'ipi'
  region: 'us-east-2'
  skip_ocp_deployment: false
  skip_ocs_deployment: false
  # Do not change to specific version like v14.2.1-20190430 if not needed
  # cause we don't need to update it each time new 14.x version is released
  # but only once when move to new version like v15.
  ceph_image: 'ceph/ceph:v14.2.2-20190722'
  rook_image: 'rook/ceph:master'
