apiVersion: {{ api_version | default('v1') }}
baseDomain: {{ base_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: {{ worker_replicas | default(3) }}
  platform:
    vsphere:
      cpus: {{ worker_num_cpus | default(2) }}
      coresPerSocket: 2
      memoryMB: {{ compute_memory | default(8196) }}
      osDisk:
        diskSizeGB: 120
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ master_replicas | default(3) }}
  platform:
    vsphere:
      cpus: {{ master_num_cpus | default(4) }}
      coresPerSocket: 2
      memoryMB: {{ master_memory | default(16384) }}
      osDisk:
        diskSizeGB: 120
metadata:
  name: '{{ cluster_name }}'
networking:
  clusterNetwork:
    - cidr: {{ cluster_network_cidr | default('10.128.0.0/14') }}
      hostPrefix: {{ cluster_host_prefix | default(23) }}
  machineCIDR: '{{ machine_cidr }}'
  networkType: {{ network_type | default('OVNKubernetes') }}
  serviceNetwork:
    - {{ service_network_cidr | default('172.30.0.0/16') }}
{% if fips %}
fips: {{ fips }}
{% endif %}
platform:
  vsphere:
    datacenter: {{ vsphere_datacenter }}
    defaultDatastore: {{ vsphere_datastore }}
    password: {{ vsphere_password }}
    username: {{ vsphere_user }}
    vCenter: {{ vsphere_server }}
    apiVIP: {{ api_vip }}
    ingressVIP: {{ ingress_vip }}
    cluster: {{ vsphere_cluster }}
    network: {{ vm_network }}
pullSecret: ''
sshKey: |
  ''
