apiVersion: {{ api_version | default('v1') }}
baseDomain: {{ base_domain }}
compute:
  - name: worker
    platform:
      gcp:
        type: {{ worker_instance_type }}
{% if worker_secure_boot %}
        secureBoot: {{ worker_secure_boot }}
{% endif %}
{% if worker_availability_zones %}
        zones:
{% for zone in worker_availability_zones %}
        - {{ zone }}
{% endfor %}
{% endif %}
    replicas: {{ worker_replicas | default(3) }}
controlPlane:
  name: master
  platform:
    gcp:
      type: {{ master_instance_type }}
{% if master_secure_boot %}
      secureBoot: {{ master_secure_boot }}
{% endif %}
{% if master_availability_zones %}
      zones:
{% for zone in master_availability_zones %}
      - {{ zone }}
{% endfor %}
{% endif %}
  replicas: {{ master_replicas | default(3) }}
metadata:
  creationTimestamp: null
  name: '{{ cluster_name }}'
networking:
  clusterNetwork:
    - cidr: {{ cluster_network_cidr | default('10.128.0.0/14') }}
      hostPrefix: 23
  machineCIDR: 10.0.0.0/16
  networkType: {{ network_type | default('OpenShiftSDN') }}
  serviceNetwork:
    - {{ service_network_cidr | default('172.30.0.0/16') }}
{% if fips %}
fips: {{ fips }}
{% endif %}
platform:
  gcp:
    projectID: {{ gcp_project_id }}
    region: {{ region }}
{% if machine_secure_boot %}
    defaultMachinePlatform:
      secureBoot: {{ machine_secure_boot }}
{% endif %}
pullSecret: ''
