apiVersion: {{ api_version | default('v1') }}
baseDomain: {{ base_domain | default('qe.rh-ocs.com') }}
metadata:
  name: '{{ cluster_name }}'
networking:
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  machineCIDR: '{{ machine_cidr }}'
{% if fips %}
fips: {{ fips }}
{% endif %}
platform:
  vsphere:
    datacenter: {{ vsphere_datacenter }}
    defaultDatastore: {{ vsphere_datastore }}
    password: {{ vsphere_password }}
    username: {{ vsphere_user }}
    vCenter: {{ vsphere_server }}
pullSecret: ''
sshKey: |
  ''
