apiVersion: {{ api_version | default('v1') }}
baseDomain: {{ base_domain | default('qe.rh-ocs.com') }}
compute:
  - name: worker
    replicas: {{ worker_replicas | default(0) }}  # No separate workers for two-node
controlPlane:
  name: master
  replicas: 2  # Two-node cluster - DualReplica topology
metadata:
  name: '{{ cluster_name }}'
networking:
  clusterNetwork:
  - cidr: {{ cluster_network_cidr | default('10.128.0.0/14') }}
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ machine_network_cidr | default('10.0.0.0/16') }}
  networkType: {{ network_type | default('OVNKubernetes') }}
  serviceNetwork:
    - {{ service_network_cidr | default('172.30.0.0/16') }}
{% if fips %}
fips: {{ fips }}
{% endif %}
platform:
  baremetal:
    provisioningNetwork: {{ provisioning_network | default('Disabled') }}
    # Hosts configuration for two-node cluster
    hosts:
{% if hosts is defined %}
{% for host in hosts %}
      - name: {{ host.name }}
        role: {{ host.role | default('master') }}
        bmc:
          address: {{ host.bmc_address }}
          username: {{ host.bmc_username }}
          password: {{ host.bmc_password }}
          disableCertificateVerification: {{ host.disable_cert_verification | default(true) }}
        bootMACAddress: {{ host.boot_mac }}
        rootDeviceHints:
          deviceName: {{ host.root_device }}
        networkConfig:
          interfaces:
            - name: {{ host.interface_name | default('ens192') }}
              type: ethernet
              state: up
              ipv4:
                enabled: true
                address:
                  - ip: {{ host.ip }}
                    prefix-length: {{ host.prefix_length | default(24) }}
                dhcp: false
          dns-resolver:
            config:
              server:
{% for dns_server in host.dns_servers | default(['8.8.8.8']) %}
                - {{ dns_server }}
{% endfor %}
          routes:
            config:
              - destination: 0.0.0.0/0
                next-hop-interface: {{ host.interface_name | default('ens192') }}
                next-hop-address: {{ host.gateway }}
{% endfor %}
{% endif %}
pullSecret: ''
sshKey: |
  ''
