apiVersion: {{ api_version | default('v1') }}
baseDomain: {{ base_domain | default('qe.rh-ocs.com') }}
compute:
  - name: worker
    replicas: {{ worker_replicas | default(3) }}
controlPlane:
  name: master
  replicas: {{ master_replicas | default(3) }}
metadata:
  name: '{{ cluster_name }}'
networking:
  clusterNetwork:
  - cidr: {{ cluster_network_cidr | default('10.128.0.0/14') }}
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: {{ network_type | default('OVNKubernetes') }}
  serviceNetwork:
    - {{ service_network_cidr | default('172.30.0.0/16') }}
{% if fips %}
fips: {{ fips }}
{% endif %}
platform:
  none: {}
pullSecret: ''
sshKey: |
  ''
