cluster_id: {{ cluster_name }}
cluster_domain: {{ cluster_domain }}
base_domain: {{ base_domain | default('qe.rh-ocs.com') }}
vsphere_server: {{ vsphere_server }}
vsphere_user: {{ vsphere_user | default('Administrator@vsphere.local') }}
vsphere_password: {{ vsphere_password }}
vsphere_cluster: {{ vsphere_cluster }}
vsphere_datacenter: {{ vsphere_datacenter }}
vsphere_datastore: {{ vsphere_datastore }}
vm_template: {{ vm_template }}
machine_cidr: {{ machine_cidr }}
control_plane_count: {{ master_replicas | default(3) }}
compute_count: {{ worker_replicas | default(4) }}
bootstrap_ignition_url: {{ bootstrap_ignition_url }}
control_plane_ignition: '{{ control_plane_ignition }}'
compute_ignition: '{{ compute_ignition }}'
ipam: {{ ipam | default('139.178.89.254') }}
ipam_token: {{ ipam_token }}
vm_network: {{ vm_network | default('VLAN_172') }}
master_memory: {{ master_memory | default('16384') }}
compute_memory: {{ compute_memory | default('16384') }}
