---
# Config file for OCP GA 4.5 stable channel

RUN:
  client_version: '4.5-ga'

DEPLOYMENT:
  ocp_url_template: "https://mirror.openshift.com/pub/openshift-v4/clients/ocp/{version}/{file_name}-{os_type}-{version}.tar.gz"
  installer_version: "4.5-ga"
  terraform_version: "0.12.26"
  ocp_channel: "fast"
  # No promoted content to stable-4.5 channel yet
  # Once the build promoted to stable, we can revert back
  # http://post-office.corp.redhat.com/archives/aos-devel/2020-May/msg00071.html
ENV_DATA:
  vm_template: 'rhcos-4.5.6-x86_64-vmware.x86_64'
  # rhcos_ami: 'ami-06c85f9d106577272'
  # If rhcos_ami is not specified the ID for aws upi deployments will be fetched from
  # https://raw.githubusercontent.com/openshift/installer/release-4.5/data/data/rhcos.json
