node_scenarios:
{% for scenario in scenarios %}
  - actions:
    {% for action in scenario.actions %}
      - {{ action }}
    {% endfor %}
    {% if scenario.node_name %}
    node_name: {{ scenario.node_name }}
    {% endif %}
    {% if scenario.label_selector %}
    label_selector: {{ scenario.label_selector }}
    {% endif %}
    {% if scenario.instance_count is defined %}
    instance_count: {{ scenario.instance_count }}
    {% endif %}
    {% if scenario.runs is defined %}
    runs: {{ scenario.runs }}
    {% endif %}
    {% if scenario.timeout is defined %}
    timeout: {{ scenario.timeout }}
    {% endif %}
    {% if scenario.duration is defined %}
    duration: {{ scenario.duration }}
    {% endif %}
    {% if scenario.cloud_type %}
    cloud_type: {{ scenario.cloud_type }}
    {% endif %}
    {% if scenario.parallel is defined %}
    parallel: {{ scenario.parallel | lower }}
    {% endif %}
    {% if scenario.kube_check is defined %}
    kube_check: {{ scenario.kube_check | lower }}
    {% endif %}
{% endfor %}
