# yaml-language-server: $schema=../plugin.schema.json
- id: pod_ingress_shaping
  config:
    namespace: "{{ namespace }}"              # Required - Namespace of the pod to which traffic shaping need to be applied
{%- if label_selector is defined %}
    label_selector: "{{ label_selector }}"    # When pod_name is not specified, pod with matching label_selector is selected for chaos scenario
{%- endif %}
{%- if pod_name is defined %}
    pod_name: "{{ pod_name }}"                # When label_selector is not specified, pod matching the name will be selected for the chaos scenario
{%- endif %}
    network_params:                         # latency, loss and bandwidth are the three supported network parameters to alter for the chaos test
      latency: {{ network_params.latency }}     # Value is a string. For example : 50ms
      loss: {{ network_params.loss }}           # Loss must be quoted string, e.g., '0.02%'
      bandwidth: {{ network_params.bandwidth }} # Value is a string. For example: 100mbit
    execution_type: "{{ execution_type }}"    # serial or parallel. Default: parallel
    instance_count: {{ instance_count }}    # Number of pods selected
    wait_duration: {{ wait_duration }}      # Default: 300 (≥ 2 × test_duration)
    test_duration: {{ test_duration }}      # Default: 120
