*~
.*.sw[nmop]
*.pyc
.tox
__pycache__
rerun
ven*
.venv
*egg*
.idea
*.iml
.DS_Store
config.yaml
.vscode
*.bak
openshift-install*
bin/
dist
.coverage
data/*
ocs_ci/agents/jira_verification/reports/
external/
apidoc/*
_build/*
bugzilla.cfg
