*~
.*.sw[nmop]
*.pyc
.tox
__pycache__
rerun
ven*
*egg*
.idea
*.iml
config.yaml
.vscode
*.bak
openshift-install*
bin/
dist
.coverage
data/*
external/
apidoc/*
_build/*
infra-pods.txt
jq
report.html
secret.json
tests/e2e/logging/test_openshift-logging-forupgrade.py
