repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
      language_version: python3.9

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: check-json
    - id: check-yaml
      args: [--multi]
    - id: debug-statements
    - id: end-of-file-fixer
    - id: trailing-whitespace

- repo: https://github.com/pycqa/flake8
  rev: 6.1.0
  hooks:
    - id: flake8

- repo: https://github.com/gklein/check_signoff
  rev: v1.0.5
  hooks:
    - id: check-signoff
      language_version: python3.9
