repos:

- repo: https://github.com/psf/black
  rev: 21.10b0
  hooks:
    - id: black
      language_version: python3.7

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.9.2
  hooks:
    - id: check-json
    - id: check-yaml
      args: [--multi]
    - id: debug-statements
    - id: end-of-file-fixer
    - id: trailing-whitespace

- repo: https://gitlab.com/pycqa/flake8
  rev: 3.7.9
  hooks:
    - id: flake8

- repo: https://github.com/gklein/check_signoff
  rev: v1.0.5
  hooks:
    - id: check-signoff
      language_version: python3.7
