language: python
# we care only about python 3.7
python:
  - "3.7"
# installation of dependencies, the rest is handled by tox
install:
  - pip install tox
# command to run unit tests
script:
  - tox
# list of tox enviroments to run
# this way, result for each env will be reported separately
env:
  - TOXENV=py37
  - TOXENV=flake8
