dist: xenial  # required for Python >= 3.7
language: python
# installation of dependencies, the rest is handled by tox
install:
  - pip install tox
# command to run unit tests
script:
  - tox

matrix:
  include:
    - python: 3.9
      env: TOXENV=black
    - python: 3.9
      env: TOXENV=flake8
    - python: 3.9
      env: TOXENV=docs
    - python: 3.8
      env: TOXENV=py38
    - python: 3.9
      env: TOXENV=py39
    - python: 3.8
      env: TOXENV=collectonly
    - python: 3.9
      env: TOXENV=collectonly
