apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
 name: managed-fusion-catsrc
 namespace: managed-fusion
spec:
 sourceType: grpc
 image: {{catsource_data.image}}
 displayName: Managed Fusion Agent
