apiVersion: misf.ibm.com/v1alpha1
kind: ManagedFusionOffering
metadata:
  name: managedfusionoffering-sample
  namespace: openshift-storage
spec:
  kind: DF
  release: "{{offering_data.ocp_version}}"
  config: 
    usableCapacityInTiB: "{{offering_data.size}}"
    onboardingValidationKey: {{offering_data.onboarding_validation_key}}
