apiVersion: v1
kind: Secret
metadata:
 name: managed-fusion-agent-config
 namespace: managed-fusion
type: Opaque
data:
 pager_duty_config: {{secret_data.pagerduty_config}}
 smtp_config: {{secret_data.smtp_config}}
