apiVersion: v1
kind: ConfigMap
metadata:
  name: mirror-registry-config
  namespace: multicluster-engine
  labels:
    app: assisted-service
data:
  registries.conf: |
    unqualified-search-registries = ["registry.access.redhat.com", "docker.io"]
    [[registry]]
      prefix = ""
      location = "registry.redhat.io/multicluster-engine"
      mirror-by-digest-only = true
      [[registry.mirror]]
        location = "quay.io/acm-d"
