apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ pv_name }}
spec:
  capacity:
    storage: {{ storage_size | default('500Gi') }}
  volumeMode: Block
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  storageClassName: {{ storage_class_name | default('localblock') }}
  local:
    path: {{ device_path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ node_name }}
