short-name-mode = "permissive"

# Covers: cp.icr.io/cp/df/* and cp.icr.io/cp (broad entry at bottom of IDMS)
[[registry]]
location = "cp.icr.io"
[[registry.mirror]]
location = "preprod.icr.io"
mirror-by-digest-only = true
pull-from-mirror = "digest-only"
[[registry.mirror]]
location = "cp.stg.icr.io/cp"
mirror-by-digest-only = true
pull-from-mirror = "digest-only"

# Covers: icr.io/cpopen/* and icr.io/cpopen (broad entry at bottom of IDMS)
[[registry]]
location = "icr.io"
[[registry.mirror]]
location = "preprod.icr.io"
mirror-by-digest-only = true
pull-from-mirror = "digest-only"
[[registry.mirror]]
location = "cp.stg.icr.io/cp"
mirror-by-digest-only = true
pull-from-mirror = "digest-only"

# Covers: registry.redhat.io/openshift4/* and registry.redhat.io/rhel9/*
[[registry]]
location = "registry.redhat.io"
[[registry.mirror]]
location = "preprod.icr.io"
mirror-by-digest-only = true
pull-from-mirror = "digest-only"
