{
  "Version": "{{date}}",
  "Statement": [
    {
      "Sid": "key",
      "Effect": "Allow",
      "Action": [
        "kms:Encrypt",
        "kms:Decrypt",
      ],
      "Resource": "{{key}}"
    }
  ]
}
