---
# user parameters used for installation of OCS.NEXT
global:
  platform: "aws"

aws:
  aws_access_key: "xxxxxxxxxxxxxxxxxxxxxxxxx"
  aws_secret_key: "xxxxxxxxxxxxxxxxxxxxxxxxx"
  aws_base_domain: "devcluster.openshift.com"
  aws_region: "us-west-1"
  aws_cluster_name: "ocsnext"

openstack:
  os_username: "xxxxx"
  os_password: "xxxxx"
  os_auth_url: "xxxxx"
  os_service_region: "regionOne"
  os_tenant_name: "xxxxx"

libvirt:
  ip: "xx.x.xx.xx"
  hostname: "xxxxxxx.com"
  username: "root"
  password: "xxxxx"
  os_image: "rhel-7.5"

