---
# This is the default configuration file which will be merged with file passed
# by:
#
# * --ocsci-conf file.yaml parameter.
# * --cluster-conf cluster.yaml parameter - this will be rendered under
#   ENV_DATA section
#
# Then it will be rendered with jinja2 to be able to reuse vars defined in
# different sections. The sections which are with capital letters will be
# available directly in ocsci.config module.
#
# Please when you reuse some variable follow this convention:
# ceph_image: '{{ DEFAULTS["CEPH_IMAGE"] }}'
# Order of the quotas is important! Start with apostrophe like in example!
# ------------------------------------------------------------------------
# This is the place for common default variables used in multiple places.
# Values from this section are then available from tests from ocs.defaults
# module.
#
# Put here mostly default variables reused just for related config sections
# below. The default values which are related just to some modules/tests which
# are not suppose to be used from sections below put directly in
# ocs/defaults.py module.
DEFAULTS:
  DEPLOYMENT_PLATFORM: "AWS"
  AWS_REGION: "us-east-2"
  API_VERSION: "v1"
  TEMPLATES: "templates/"

# in this RUN section we will keep default parameters for run of OCS-CI
RUN:
  log_dir: "/tmp"
  run_id: null  # this will be redefined in the execution
  kubeconfig_location: 'auth/kubeconfig' # relative from cluster_dir
  cli_params: {}  # this will be filled with CLI parameters data
  client_version: '{{ DEPLOYMENT["installer_version"] }}'
  force_download_client: True
  bin_dir: './bin'

# In this section we are storing all deployment related configuration but not
# the environment related data as those are defined in ENV_DATA section.
DEPLOYMENT:
  installer_version: "4.1.0"
  force_download_installer: True

# Section for reporting configuration
REPORTING:
  email:
    address: "ocs-ci@redhat.com"

# This is the default information about environment. Will be overwritten with
# --cluster-conf file.yaml data you will pass to the pytest.
ENV_DATA:
  platform: '{{ DEFAULTS["DEPLOYMENT_PLATFORM"] }}'
  cluster_name: "ocs-ci"  # needs to be changed in ocscilib plugin
  cluster_namespace: 'openshift-storage'
  region: '{{ DEFAULTS["AWS_REGION"] }}'
  ceph_image: 'ceph/ceph:v14.2.0-20190410'
  rook_image: 'rook/ceph:master'
