apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ config_name }}
  namespace: {{ namespace }}
  labels:
    app: gosbench
    component: config
data:
  gosbench.yaml: |
{{ gosbench_config | indent(4, True) }}
