apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ namespace }}
  labels:
    app: gosbench
    component: credentials
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ access_key_id_b64 }}
  AWS_SECRET_ACCESS_KEY: {{ secret_access_key_b64 }}
