duration: {{ duration | default(30) }}
workers: '{{ workers | default("") }}' # leave it empty '' node auto-detection
hog-type: {{ hog_type | default("io") }}
image: {{ image | default("quay.io/krkn-chaos/krkn-hog") }}
namespace: {{ namespace | default("default") }}
io-block-size: {{ io_block_size | default("1m") }}
io-write-bytes: {{ io_write_bytes | default("1g") }}
io-target-pod-folder: {{ io_target_pod_folder | default("/hog-data") }}
{%- if node_name %}
# node-name: "{{ node_name }}" # Uncomment to target a specific node by name
{%- else %}
# node-name: "worker-0" # Uncomment to target a specific node by name
{%- endif %}
io-target-pod-volume:
  name: {{ (io_target_pod_volume.name if io_target_pod_volume else "node-volume") }}
  hostPath:
    path: {{ (io_target_pod_volume.hostPath.path if io_target_pod_volume and io_target_pod_volume.hostPath else "/root") }} # a path writable by kubelet in the root filesystem of the node
{%- if node_selector %}
{%- if node_selector is mapping %}
node-selector: "{% for key, value in node_selector.items() %}{{ key }}={{ value }}{% endfor %}"
{%- else %}
node-selector: "{{ node_selector }}"
{%- endif %}
{%- else %}
node-selector: "node-role.kubernetes.io/worker="
{%- endif %}
number-of-nodes: '{{ number_of_nodes | default("") }}'
{% if taints and taints|length > 0 %}taints:
{%- for taint in taints %}
  - "{{ taint }}"
{%- endfor %}{% else %}taints: [] #example ["node-role.kubernetes.io/master:NoSchedule"]{% endif %}
