[Unit]
Description=Schedule setup network split bc at given time

[Timer]
OnCalendar=@%i
Unit=network-split@bc.service

[Install]
WantedBy=timers.target
